<div class="cont-home">
    <div class="identificarAfectadoCls">

        <div class="container">

            <!-- *******     TITULO     ********-->
            <div class="row">
                <h2>Identificar Afectado</h2>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     MAPA     ********-->
            <div class="row">
                <div class="col col-lg-12">
                    <div class="mapa"></div>
                </div>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     TABLA     ********-->
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> </th>
                                <th> Nombre
                                    <input class="form-control" name="nom" placeholder="Nombre" ng-model="buscar.nombre" required>
                                </th>
                                <th> Apellido
                                    <input class="form-control" name="ape" placeholder="Apellido" ng-model="buscar.apellido" required>
                                </th>
                                <th> Ci
                                    <input class="form-control" name="ci" placeholder="Ci" ng-model="buscar.ci" required>
                                </th>
                                <th> Calle
                                    <input class="form-control" name="cal" placeholder="Calle" ng-model="buscar.calle" required>
                                </th>
                                <th> Nro
                                    <input class="form-control" name="num" placeholder="Número" ng-model="buscar.numero" required>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="jefe in jefes | filter:buscar" ng-click="seleccion(jefe)">
                                <td>
                                    <input type="checkbox" ng-model="jefe.seleccionado">
                                </td>
                                <td> {{jefe.nombre}} </td>
                                <td> {{jefe.apellido}} </td>
                                <td> {{jefe.ci}} </td>
                                <td> {{jefe.calle}} </td>
                                <td> {{jefe.numero}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     ACEPTAR/CANCELAR     ********-->
            <div class="row">

                   <!-- Nueva unidad/persona -->
                   <div class="col col-lg-3 col-lg-offset-5">
                        <button class="form-control btn btn-default ">Nueva unidad/Persona</button>
                    </div>

                <!-- Aceptar -->
                <div class="col col-lg-2">
                    <button class="form-control btn btn-default ">Aceptar</button>
                </div>

                <!-- Cancelar -->
                <div class="col col-lg-2">
                    <button class="form-control btn btn-default">Cancelar</button>
                </div>

            </div>
            <!-- ***************************** -->


        </div>

    </div>
    <br>
</div>