.cont-home {
    position: fixed;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
    z-index: 0;
}

.row {
    width: 100%;
}

.resizableVertical {
    resize: vertical;
    overflow: auto;
}

a {
    cursor: pointer;
}

.panel-btn {
    cursor: pointer;
    transition: all 1s;
}

.panel-btn:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: all .5s;
}

.separador {
    border-bottom: 1px solid gray;
    margin: 5px 0px;
    margin-top: -5px;
    margin-left: -10px;
}



/* Mueve la flechita del combo a la derecha */
.miCombo span {
    position: absolute;
    right: 10px;
    top: 15px;
}

/* Mueve el texto del combo a la izquierda */
.miCombo button{
    text-align: left;
}

/* Ancho 100% de opciones del combo */
.miCombo ul {
    width: 100%;
}