<div class="cont-home">
    <div class="agregarIntegranteCls">

        <div class="container">

            <!-- *******     TITULO     ********-->
            <div class="row">
                <h2>Agregar Integrante</h2>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     MAPA     ********-->
            <div class="row">
                <div class="col col-lg-12">
                    <div class="mapa"></div>
                </div>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     TABLA     ********-->
            <div class="row">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th> Nombre
                                <input class="form-control" name="nom" placeholder="Nombre" ng-model="identidadJefe.nombre" required>
                            </th>
                            <th> Apellido
                                <input class="form-control" name="ape" placeholder="Apellido" ng-model="identidadJefe.apellido" required>
                            </th>
                            <th> Ci
                                <input class="form-control" name="ci" placeholder="Ci" ng-model="identidadJefe.ci" required>
                            </th>
                            <th> Calle
                                <input class="form-control" name="cal" placeholder="Calle" ng-model="identidadJefe.calle" required>
                            </th>
                            <th> Nro
                                <input class="form-control" name="num" placeholder="Número" ng-model="identidadJefe.numero" required>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Jhon </td>
                                <td> Salchichón </td>
                                <td> 51641764 </td>
                                <td> Av. Siempre Viva </td>
                                <td> 742 </td>
                            </tr>
                            <tr>
                                <td> Jhon </td>
                                <td> Salchichón </td>
                                <td> 51641764 </td>
                                <td> Av. Siempre Viva </td>
                                <td> 742 </td>
                            </tr>
                            <tr>
                                <td> Jhon </td>
                                <td> Salchichón </td>
                                <td> 51641764 </td>
                                <td> Av. Siempre Viva </td>
                                <td> 742 </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     ACEPTAR/CANCELAR     ********-->
            <div class="row">

                <!-- Aceptar -->
                <div class="col col-lg-2 col-lg-offset-8">
                    <button class="form-control btn btn-default ">Aceptar</button>
                </div>

                <!-- Cancelar -->
                <div class="col col-lg-2">
                    <button class="form-control btn btn-default">Cancelar</button>
                </div>

            </div>
            <!-- ***************************** -->


        </div>


    </div>
</div>