<div class="cont-home">
    <div class="editarInformacionCls">

        <div class="container">
            <!-- *******     TITULO     ********-->
            <div class="row">
                <h2>Editar Información</h2>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     CUERPO     ********-->
            <div class="row">

                <!-- *******     FORMULARIO   IZQUIERDA  ********-->
                <div class="col-lg-6">
                    <h3>Personal</h3>
                    <br>
                    <div class="row">

                        <!-- NOMBRE -->
                        <div class="col col-lg-12">
                            <div class="form-group">
                                <label lass="control-label">Nombre*</label>
                                <input class="form-control" name="nom" placeholder="Nombre" ng-model="nuevoIntegrante.nombre" required>
                            </div>
                        </div>

                        <!-- APELLIDO -->
                        <div class="col col-lg-12">
                            <div class="form-group">
                                <label lass="control-label">Apellido*</label>
                                <input class="form-control" name="ape" placeholder="Apellido" ng-model="nuevaUnidad.apellido" required>
                            </div>
                        </div>

                        <!-- CI -->
                        <div class="col col-lg-12">
                            <div class="form-group">
                                <label lass="control-label">CI*</label>
                                <input class="form-control" name="ci" placeholder="CI" ng-model="nuevaUnidad.ci" required>
                            </div>
                        </div>

                        <!-- SEXO -->
                        <div class="col col-lg-12">
                            <div class="form-group anchoLargoCombo">
                                <label lass="control-label">Sexo</label>

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Sexo
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a>Masculino</a>
                                        </li>
                                        <li>
                                            <a>Femenino</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- FECHA NACIMIENTO -->
                        <div class="col col-lg-12">
                            <label lass="control-label">Fecha de Nacimiento</label>

                            <div class="input-group date fnni">
                                <input type="text" class="form-control">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                                <script>
                                    $('.fnni').datepicker({
                                        format: "dd/mm/yyyy",
                                        startView: 2,
                                        autoclose: true
                                    });
                                </script>
                            </div>

                        </div>

                        <!-- RELACION CON EL JEFE -->
                        <div class="col col-lg-12">
                            <div class="form-group anchoLargoCombo">
                                <br>
                                <label lass="control-label">Relación con el jefe</label>

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Relación con el jefe
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a>Hijo/a</a>
                                        </li>
                                        <li>
                                            <a>Sobrino/a</a>
                                        </li>
                                        <li>
                                            <a>Primo/a</a>
                                        </li>
                                        <li>
                                            <a>Otro/a</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- ***************************** -->

                <!-- *******     FORMULARIO   DERECHA  ********-->
                <div class="col-lg-6">
                    <h3>Evento</h3>
                    <br>
                    <div class="row">

                        <!-- DESPLAZADO -->
                        <div class="col col-lg-12">
                            <div class="row">

                                <div class="col col-lg-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Desplazado
                                    </label>
                                </div>
                                <div class="col col-lg-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> No Desplazado
                                    </label>
                                </div>

                            </div>
                        </div>

                        <br>
                        <br>
                        <br>

                        <!-- EVACUADO -->
                        <div class="col col-lg-12">
                            <div class="row">

                                <div class="col col-lg-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Evacuado
                                    </label>
                                </div>
                                <div class="col col-lg-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No Evacuado
                                    </label>
                                </div>

                            </div>
                        </div>


                        <br>
                        <br>
                        <br>


                        <!-- DONDE SE UBICA -->
                        <div class="col col-lg-12">

                            <div class="row">
                                <div class="col col-lg-12">

                                    <div class="dropdown anchoLargoCombo">
                                        <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">
                                            Donde se ubica
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <a>Montevideo</a>
                                            </li>
                                            <li>
                                                <a>Salto</a>
                                            </li>
                                            <li>
                                                <a>Springfield</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>
                    <!-- ***************************** -->


                </div>

            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******     ACEPTAR/CANCELAR     ********-->
            <div class="row">

                <!-- Aceptar -->
                <div class="col col-lg-2 col-lg-offset-8">
                    <button class="form-control btn btn-default ">Aceptar</button>
                </div>

                <!-- Cancelar -->
                <div class="col col-lg-2">
                    <button class="form-control btn btn-default">Cancelar</button>
                </div>

            </div>
            <!-- ***************************** -->






        </div>
    </div>