<div class="cont-home">

    <div class="container">
        <!-- *******     TITULO     ********-->
        <div class="row">
            <h2>Información específica del evento</h2>
        </div>
        <!-- ***************************** -->

        <hr>

        <!-- *******     CONTENIDO     ********-->
        <div class="row">
            <div class="col col-lg-8 col-lg-offset-2">

                <!-- *******     DESPLAZADO     ********-->
                <div class="row">
                    <div class="col col-lg-6">

                        <label class="radio-inline">
                            <input type="radio" name="opDesplazado" ng-click="desplazado=true"> Desplazado
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="opDesplazado" ng-click="desplazado=false"> No Desplazado
                        </label>

                    </div>
                </div>
                <!-- ***************************** -->

                <hr ng-show="desplazado">

                <!-- *******     EVACUADO     ********-->
                <div class="row" ng-show="desplazado">
                    <div class="col col-lg-6">

                        <label class="radio-inline">
                            <input type="radio" name="opEvacuado" ng-click="evacuado=true"> Evacuado
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="opEvacuado" ng-click="evacuado=false"> No Evacuado
                        </label>

                    </div>
                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     DONDE SE UBICA     ********-->
                <div class="row">
                    <div class="col col-lg-6">

                        <div class="form-group">
                            <label lass="control-label">Donde se ubica?</label>
                            <div class="dropdown miCombo">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    <div ng-show="opcion">
                                        {{opcion}}
                                    </div>
                                    <div ng-hide="opcion">
                                        Donde se ubica?
                                    </div>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-click="opcion='Montevideo'">
                                        <a>Montevideo</a>
                                    </li>
                                    <li ng-click="opcion='Salto'">
                                        <a>Salto</a>
                                    </li>
                                    <li ng-click="opcion='Springfield'">
                                        <a>Springfield</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***************************** -->



                <!-- *******     CALLE Y NUMERO    ********-->
                <div class="row">
                    <br>
                    <!-- CALLE -->
                    <div class="col col-lg-6">
                        <div class="form-group">
                            <label lass="control-label">Calle</label>
                            <input class="form-control" name="cal" placeholder="Calle" ng-model="evento.calle" ng-change="validarCampos('')">
                        </div>
                    </div>

                    <!-- NUMERO -->
                    <div class="col col-lg-6">
                        <div class="form-group">
                            <label lass="control-label">Número</label>
                            <input class="form-control" name="num" placeholder="Número" ng-model="evento.numero" ng-change="validarCampos('')">
                        </div>
                    </div>
                </div>
                <!-- ***************************** -->


            </div>
        </div>
        <!-- ***************************** -->
        <hr>
        <hr>
        <!-- *******     ACEPTAR/CANCELAR     ********-->
        <div class="row">
            <div class="col col-lg-10 col-lg-offset-1">

                <div class="row">

                    <!-- Aceptar -->
                    <div class="col col-lg-2 col-lg-offset-8">
                        <button class="form-control btn btn-default" ng-click="agregarInfoEspe()">Aceptar</button>
                    </div>

                    <!-- Cancelar -->
                    <div class="col col-lg-2">
                        <button class="form-control btn btn-default">Cancelar</button>
                    </div>

                </div>

            </div>
        </div>
        <!-- ***************************** -->

    </div>
</div>


</div>