<div class="cont-home">

    <div class="container">
        <!-- *******     TITULO     ********-->
        <div class="row">
            <h2>Información específica del evento</h2>
        </div>
        <!-- ***************************** -->

        <hr>

        <div class="row">
            <div class="col col-lg-8 col-lg-offset-2">
                <!-- *******     DESPLAZADO     ********-->
                <div class="row">
                    <div class="col col-lg-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Desplazado
                        </label>
                    </div>
                    <div class="col col-lg-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> No Desplazado
                        </label>
                    </div>
                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     EVACUADO     ********-->
                <div class="row">
                    <div class="col col-lg-3">


                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Evacuado
                        </label>
                    </div>
                    <div class="col col-lg-3">

                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No Evacuado
                        </label>
                    </div>

                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     DONDE SE UBICA     ********-->
                <div class="row">
                    <div class="col col-lg-6">

                        <div class="form-group">
                            <label lass="control-label">Donde se ubica?</label>
                            <div class="dropdown miCombo">
                                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    <div ng-show="opcion">
                                        {{opcion}}
                                    </div>
                                    <div ng-hide="opcion">
                                        Donde se ubica?
                                    </div>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-click="opcion='Montevideo'">
                                        <a>Montevideo</a>
                                    </li>
                                    <li ng-click="opcion='Salto'">
                                        <a>Salto</a>
                                    </li>
                                    <li ng-click="opcion='Springfield'">
                                        <a>Springfield</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ***************************** -->

            </div>
        </div>


    </div>
</div>