<div class="container login">
    <div class="fondo"></div>
    <div class="login-panel">

        <h2>Inicio de sesión</h2>

        <div class="jumbotron">
            <div class="container">

                <form class="form" name="form">

                    <!-- CORREO -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </span>
                            <input type="email" class="form-control" id="cor" placeholder="Correo" name="correo" ng-model="usuario.correo" required>
                        </div>
                    </div>
                    <!-- CONTRASEÑA -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <!-- <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> -->
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                
                            </span>
                            <input type="password" class="form-control" id="clU" placeholder="Clave" name="clave" ng-model="usuario.clave" required>
                        </div>
                    </div>

                    <br>
                    <br>
                    <!-- INICIAR SESION -->
                    <div class="form-group">
                        <button type="submit" ng-disabled="" class=" btn btn-default form-control"
                            ng-click="login(form.correo, form.clave) ">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>



<!-- form.nombre.$error.required || form.clave.$error.required -->