<div class="cont-home">
    <div class="nuevoIntegranteCls">

        <div class="container">
            <!-- *******     TITULO     ********-->
            <div class="row">
                <h2>Nuevo Integrante</h2>
            </div>
            <!-- ***************************** -->

            <hr>

            <!-- *******    PERSONA    ********-->
            <div class="row">
                <div class="col col-lg-10 col-lg-offset-1">
                    <h3>Persona</h3>
                    <br>

                    <div class="row">

                        <!-- NOMBRE -->
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label lass="control-label">Nombre*</label>
                                <input class="form-control" name="nom" placeholder="Nombre" ng-model="busqueda.nombre" required>
                            </div>
                        </div>

                        <!-- APELLIDO -->
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label lass="control-label">Apellido*</label>
                                <input class="form-control" name="ape" placeholder="Apellido" ng-model="busqueda.apellido" required>
                            </div>
                        </div>

                        <!-- CI -->
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label lass="control-label">CI*</label>
                                <input class="form-control" name="ci" placeholder="CI" ng-model="busqueda.ci" required>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row">

                        <!-- SEXO -->
                        <div class="col col-lg-4">

                            <div class="form-group">
                                <label lass="control-label">Sexo</label>
                                <div class="dropdown miCombo">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        <div ng-show="opcion">
                                            {{opcion}}
                                        </div>
                                        <div ng-hide="opcion">
                                            Sexo
                                        </div>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-click="opcion='Femenino'">
                                            <a>Femenino</a>
                                        </li>
                                        <li ng-click="opcion='Masculino'">
                                            <a>Masculino</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>


                        <!-- FECHA NACIMIENTO -->
                        <div class="col col-lg-4">
                            <label lass="control-label">Fecha de Nacimiento</label>

                            <div class="input-group date fnni">
                                <input type="text" class="form-control" ng-model="busqueda.nacimiento">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                                <script>
                                    $('.fnni').datepicker({
                                        format: "dd/mm/yyyy",
                                        startView: 2,
                                        autoclose: true
                                    });
                                </script>
                            </div>

                        </div>



                        <!-- RELACION CON EL JEFE -->
                        <div class="col col-lg-4">

                            <div class="form-group">
                                <label lass="control-label">Relación con el jefe</label>
                                <div class="dropdown miCombo">
                                    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        <div ng-show="opcion2">
                                            {{opcion2}}
                                        </div>
                                        <div ng-hide="opcion2">
                                            Relación con el Jefe
                                        </div>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-click="opcion2='mismo'">
                                            <a>mismo</a>
                                        </li>
                                        <li ng-click="opcion2='Hermana/o'">
                                            <a>Hermana/o</a>
                                        </li>
                                        <li ng-click="opcion2='Sobrina/o'">
                                            <a>Sobrina/o</a>
                                        </li>
                                        <li ng-click="opcion2='Hija/o'">
                                            <a>Hija/o</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- ***************************** -->
                    </div>


                </div>
            </div>
            <!-- ***************************** -->


            <hr>

            <!-- *******    NUEVA UNIDAD    ********-->
            <div class="row">
                <div class="col col-lg-10 col-lg-offset-1">
                    <h3>Nueva Unidad</h3>
                    <br>


                    <div class="row">

                        <!-- CALLE -->
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label lass="control-label">Calle*</label>
                                <input class="form-control" name="cal" placeholder="Calle" ng-model="busqueda.calle" required>
                            </div>
                        </div>

                        <!-- NUMERO -->
                        <div class="col col-lg-3">
                            <div class="form-group">
                                <label lass="control-label">Número*</label>
                                <input class="form-control" name="num" placeholder="Número" ng-model="busqueda.numero" required>
                            </div>
                        </div>

                        <!-- PADRÓN -->
                        <div class="col col-lg-3">
                            <div class="form-group">
                                <label lass="control-label">Padrón*</label>
                                <input class="form-control" name="pad" placeholder="Padrón" ng-model="busqueda.padron" required>
                            </div>
                        </div>

                        <!-- NÚMERO UNIDAD -->
                        <div class="col col-lg-2">
                            <div class="form-group">
                                <label lass="control-label">Nro. Unidad*</label>
                                <input class="form-control" name="uni" placeholder="Nro. Unidad" ng-model="busqueda.unidad" required>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <!-- MAPA -->
                    <div class="row">
                        <div class="col col-lg-12">
                            <div class="mapa">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <!-- ***************************** -->

            <hr>
            <hr>

            <!-- *******     ACEPTAR/CANCELAR     ********-->
            <div class="row">
                <div class="col col-lg-10 col-lg-offset-1">

                    <div class="row">

                        <!-- Aceptar -->
                        <div class="col col-lg-2 col-lg-offset-8">
                            <button class="form-control btn btn-default" ng-click="agregarIntegrante()">Aceptar</button>
                        </div>

                        <!-- Cancelar -->
                        <div class="col col-lg-2">
                            <button class="form-control btn btn-default">Cancelar</button>
                        </div>

                    </div>

                </div>
            </div>
            <!-- ***************************** -->


            <br>
            <br>
            <br>
        </div>



    </div>
</div>