.panel-nav {
    background-color: rgb(234, 234, 234);
    position: fixed;
    height: 50px;
    width: 100%;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.11);
    z-index: 1;
    padding-top: 10px;
}

.panel-nav .menu {
    padding-top: 5px;
    
}
.panel-nav .menu li{
    display: inline;
    list-style: none;
    margin-left: 30px;
}

/* Combo usuario */
.panel-nav .usuario button{
    border: none;
    background: inherit;
}
.panel-nav .usuario .info{
    padding: 0px 19px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.panel-nav .usuario h6{
 margin-top: 2px;
}
