<div class="cont-home">
    <div class="NuevoIngresoCls">

        <div class="container">
            <!-- *******     FORMULARIO     ********-->

            <form class="form" name="form">
                <!-- *******     TITULO     ********-->
                <div class="row">
                    <h2>Nuevo ingreso</h2>
                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     MAPA     ********-->
                <div class="row">
                    <div class="col col-lg-7">
                        <div class="mapa">
                            asd
                        </div>
                    </div>
                    <div class="col col-lg-5">

                        <div class="row">

                            <!-- CI -->
                            <div class="col col-lg-12">
                                <div class="form-group">
                                    <label lass="control-label">CI</label>
                                    <input class="form-control" name="ci" placeholder="CI" ng-model="busqueda.ci" >
                                </div>
                            </div>

                            <!-- NOMBRE -->
                            <div class="col col-lg-12">
                                <div class="form-group">
                                    <label lass="control-label">Nombre</label>
                                    <input class="form-control" name="nom" placeholder="Nombre" ng-model="busqueda.nombre">
                                </div>
                            </div>

                            <!-- APELLIDO -->
                            <div class="col col-lg-12">
                                <div class="form-group">
                                    <label lass="control-label">Apellido</label>
                                    <input class="form-control" name="ape" placeholder="Apellido" ng-model="busqueda.apellido">
                                </div>
                            </div>

                            <!-- CALLE -->
                            <div class="col col-lg-6">
                                <div class="form-group">
                                    <label lass="control-label">Calle</label>
                                    <input class="form-control" name="cal" placeholder="Calle" ng-model="busqueda.calle" >
                                </div>
                            </div>

                            <!-- NUMERO -->
                            <div class="col col-lg-6">
                                <div class="form-group">
                                    <label lass="control-label">Número</label>
                                    <input class="form-control" name="num" placeholder="Número" ng-model="busqueda.numero" >
                                </div>
                            </div>

                        </div>
                        <!-- </form> -->
                    </div>
                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     NUEVO/BUSCAR     ********-->
                <div class="row">
                    <div class="col col-lg-6">
                        <div class="row">
                            <div class="col col-lg-6">
                                <button class="form-control btn btn-default" ng-click="agregarJefe()">Nuevo</button>
                            </div>
                            <div class="col col-lg-6">
                                <span class="mensajeNuevo">Agregar un nuevo ingreso</span>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <div class="row">
                            <div class="col col-lg-6 col-lg-offset-6">

                                <button class="form-control btn btn-default"  ng-click="buscarJefe()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***************************** -->

                <hr>

                <!-- *******     TABLA     ********-->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped scroll">
                            <thead>
                                <tr>
                                    <th> Nombre </th>
                                    <th> Apellido </th>
                                    <th> Ci </th>
                                    <th> Calle </th>
                                    <th> Nro </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jefe in jefes">
                                    <td> {{jefe.nombre}} </td>
                                    <td> {{jefe.apellido}} </td>
                                    <td> {{jefe.ci}} </td>
                                    <td> {{jefe.calle}} </td>
                                    <td> {{jefe.numero}} </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <!-- ***************************** -->
            </form>
        </div>
    </div>

</div>